.menu-item {
    height: 20rem;
    width: calc(90%/3);
    flex-grow: 1;
    box-sizing: border-box;
    padding: 1rem;

    .container {
        box-sizing: border-box;
        border: 3px solid black;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner-container {
            text-align: center;
            border: 3px solid black;
            padding: 1rem;
        }
    }

}